button {
    display: inline-flex;
    outline: none;
    background: none;
    border: none;
    align-items: center;
    transition: all 250ms ease 0s;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    background: #ffffff;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    justify-content: center;
    width: auto;
    line-height: 1.2;
    border-radius: 0.375rem;
    font-weight: 600;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    color: #000;
    margin-bottom: 1rem;

    &:focus {
        outline: none !important;
    }

    &:hover {
        background: rgba(255,255,255,0.8);
    }
    
    .body {
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            margin-right: 1rem;
        }
    }
}