<div
    *ngIf="presentation?.title"
    class="header">
    {{presentation?.title}}
</div>

<div
    class="back-btn"
    routerLink="/">

    <i class="material-icons">
        arrow_back_ios
    </i>
</div>

<div
    *ngFor="let block of presentation?.blocks"
    [ngSwitch]="block.type">

    <ng-template ngSwitchCase="text">
        <p class="text-content">{{block.data}}</p>
    </ng-template>

    <ng-template ngSwitchCase="code">
        <app-source
            [code]="block.data"
            [languages]="block.extra?.languages || []"
            [file-name]="block.extra?.fileName">
        </app-source>
    </ng-template>

    <ng-template ngSwitchCase="img">
        <img
            class="image"
            [src]="block.data" />
    </ng-template>

    <ng-template ngSwitchCase="link">
        <app-link
            [href]="block.data"
            [icon]="block.extra.icon"
            [fg]="block.extra.fg"
            [bg]="block.extra.bg"
            [text]="block.extra.text">
        </app-link>
    </ng-template>

    <ng-template ngSwitchCase="bash">
        <app-bash [cmd]="block.data"></app-bash>
    </ng-template>

</div>
